<ngb-toast header="" class="bg-success text-light" *ngIf="success" (hidden)="success=false">
  Supression de {{customerLastName}} {{customerFirstname}}
</ngb-toast>
<ngb-toast header="" class="bg-danger text-light" *ngIf="failure" (hidden)="failure=false">
  Echec de la suppression : {{errorMessage}}
</ngb-toast>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
    <p>Confimez-vous la suppression du client {{customerLastName}} {{customerFirstname}} ? </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(true)">Supprimer</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(false)">Abandonner</button>
  </div>
</ng-template>

<app-template-page [titre]="'Liste des clients'" [visible]="false">
<div class="container">
<div class="row justify-content-end m-3" >Total clients : {{total}}</div>
<table style="color: aliceblue; border: 2px solid aliceblue;"
aria-describedby="Liste des clients" class="table">
  <caption style="color: rgb(255, 255, 255) ;">Liste des clients</caption>
  <thead class="text-light" style="background-color:rgb(36, 47, 95) ;">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Entreprise</th>
      <th>Courriel</th>
      <th>Téléphone</th>
      <th>Portable</th>
      <th>Notes</th>
      <th>Statut</th>
      <th style="background-color:rgba(39, 194, 233, 0.4);">Consulter</th>
      <th style="background-color:rgba(43, 214, 37, 0.4);" *ngIf="isAdmin">Editer</th>
      <th style="background-color:rgba(228, 43, 43, 0.4);" *ngIf="isAdmin">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers$ | async  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index ; ">
      <td>{{i+1}}</td>
      <td> {{customer.lastname}}</td>
      <td> {{customer.firstname}}</td>
      <td> {{customer.company}}</td>
      <td> {{customer.mail}} </td>
      <td> {{customer.phone}} </td>
      <td> {{customer.mobile}} </td>
      <td> {{customer.notes}} </td>
      <td >
        <p *ngIf= "customer.active" > actif </p>
        <p *ngIf= "!customer.active" > inactif </p>
      </td>
      <td style="background-color:rgba(30, 145, 173, 0.4); 
      border-radius: 35px ;">
        <a class="book" [routerLink]="'../description/'+customer.id">
          <i class="bi bi-search-heart-fill"></i>
       </a>
      </td>
      <td *ngIf="isAdmin" style="background-color:rgba(32, 156, 28, 0.4);
      border-radius: 35px ; ">
        <a class="crayon" [routerLink]="['../edit', customer.id]">
          <i class="bi bi-pen-fill"></i>
        </a>
      </td>
      <td *ngIf="isAdmin"  style="background-color:rgba(170, 43, 43, 0.4);
      border-radius: 35px ; ">
        <a class="trash" href="javascript:void(0)"
        (click)="confirmDeletion(content ,customer.id, customer.lastname,customer.firstname)">
        <i class="bi bi-trash3-fill"></i>
      </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-end">
<ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>
<a [routerLink]="'../add'" class="btn btn-primary" *ngIf="isAdmin">
  <app-icon-add></app-icon-add> Ajouter
</a>
</div>
</app-template-page>
