button{
  background-color: rgb(100, 89, 51);
  color : white;
  margin: 20px 10px 10px 10px;
  font-size: 15px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  text-align: center;
}

