<div class="row" style="margin-top: 10px ;">
  <div class="col"> 
    <a class="navbar-brand fs-3" [routerLink]="'../../home/'" 
    style="color: rgb(117, 91, 57) ; ">
      <img class="logo" src="../../../../assets/logo2.png" alt="Logo" 
        >
        Vintage M<img src="../../../../assets/mOngo.png" 
          style="padding-top: 10px;">ntgo
    </a>
  </div>


  <div class="col"  >

    <button *ngIf="Connection() false" [hidden] class="btn btn-danger fa-pull-right"
            (click)="logout()" >
      <app-icon-signout></app-icon-signout>
      Déconnexion
    </button>
  </div>
</div>