
  <ngb-toast
    header="Ajout d'une nouvelle commande"
    class="bg-success text-light"
    [delay]="2000"
    *ngIf="success"
    (hidden)="goBackToList()"
  >
    Ajout réussi !
  </ngb-toast>
  <ngb-toast
    header="Ajout d'une nouvelle commande"
    class="bg-danger"
    [delay]="2000"
    *ngIf="failure"
    (hidden)="failure = false"
  >
    Echec de l'ajout !
  </ngb-toast>


  <form [formGroup]="formulaireOrder">
    <fieldset class="fieldset m-5" [disabled]="success">
      <legend class="text-light">Formulaire ajout commande</legend>

<!--choix client-->


      <div class="FormDiv col-6 form-control m-2 border-primary">
        <p class="text-light">Choisissez le client</p>
        <select class="me-5 text-light" formControlName="customerId" 
        [(ngModel)]="ClientId"
        style="background-color: rgba(30,4,1,0.4); color: aliceblue;">
          <option value="">- - -</option>
          <option  class="text-light" *ngFor="let client of clients" 
          [value]="client.id">
            {{ client.firstname }} {{ client.lastname }}
          </option>
        </select>

        <button
          class="btn btn-success ms-5 text-light"
          style="background-color: rgba(35, 76, 25, 0.4);"
          [routerLink]="'../../customers/add'"
        >
          Ajouter un nouveau client
        </button>

        <p class="text-light">
          L'identifiant du client choisi :
          <strong class="text-danger">{{ ClientId }}</strong>
        </p>
      </div>


<!-- Choix produit-->


      <div class="FormDiv col-6 form-control m-2 border-primary">
        <p class="text-light">Choisissez le Produit</p>
        <select class="me-5 text-light" formControlName="productId" 
        [(ngModel)]="ProductId"
        
        style="background-color: rgba(30,4,1,0.4); color: aliceblue;">
          <option value="">- - -</option>
          <option *ngFor="let produit of produits"
            class="text-light"  
          [value]="produit.id"
          >
            <span *ngIf="produit.availablity == true"> {{produit.productname}} </span> 
          </option>
        </select>

        <button
          class="btn btn-success ms-5 text-light"
          style="background-color: rgba(35, 76, 25, 0.4);"
          [routerLink]="'../../products/addpro'"
        >
          Ajouter un nouveau produit
        </button>

        <p class="text-light">
          L'identifiant du produit choisi :
          <strong class="text-danger">{{ ProductId }}</strong>
        </p>
      </div>

<!--Nombre de jours :-->

      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Nombre de jours :

          <input 
          style="background-color: rgba(30,4,1,0.4); color: aliceblue;" 
          formControlName="numberOfDays" type="number" min="0" />
        </label>
        <p></p>
        <p
          class="text-secondary"
          *ngIf="formulaireOrder.controls['numberOfDays'].invalid"
        ></p>
      </div>
    
<!--Taux journalier moyen HT :--> 


      <div class="FormDiv form-control m-2 border border-primary" >
        <label class="text-light">
          Taux journalier moyen HT :

          <input 
          style="background-color: rgba(30,4,1,0.4); color: aliceblue;" 
          formControlName="adrEt" 
          type="number" min="0" />
          <p
            class="text-secondary"
            *ngIf="formulaireOrder.controls['adrEt'].invalid"
          >
            Taux journalier moyen hors taxe obligatoire.
          </p>
        </label>
      </div>

<!--Tva-->

      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">Taux TVA :</label>
        <select style="background-color: rgba(30,4,1,0.4); color: aliceblue;" formControlName="tva">
          <option></option>
          <option value="20">Taux normal : 20 %</option>
          <option value="10">Taux intermédiaire : 10 %</option>
          <option value="5.5">Taux réduit : 5,5 %</option>
          <option value="2.1">Taux particulier : 2,1 %</option>
        </select>
        <p
          class="text-secondary"
          *ngIf="formulaireOrder.controls['tva'].invalid"
        >
          Tva en vigueur obligatoire
        </p>
      </div>

<!--Status-->


      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">Status de la commande :</label>
        <select style="background-color: rgba(30,4,1,0.4); color: aliceblue;" formControlName="status">
          <option></option>
          <option>En cours</option>
          <option>Payée</option>
          <option>Non Payée</option>
        </select>
        <p
          class="text-secondary"
          *ngIf="formulaireOrder.controls['status'].invalid"
        >
          choix entre trois status (en cours, payée, non payée)
        </p>
      </div>

<!--Type-->

      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">Type de commande:</label>
        <select style="background-color: rgba(30,4,1,0.4); color: aliceblue;" formControlName="type">
          <option></option>
          <option>Forfait</option>
          <option>Abonnement</option>
          <option>Achat occasionnel</option>
        </select>
        <p
          class="text-secondary"
          *ngIf="formulaireOrder.controls['type'].invalid"
        >
          choix obligatoire entre trois Type de commande (Forfait, Abonnement,
          Achat occasionnel)
        </p>
      </div>

<!--Notes-->


      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">Notes du client : </label>
        <textarea
          formControlName="notes"
          class="form-control text-light"
          rows="3"
          style="background-color: rgba(30,4,1,0.4);"

        ></textarea>

        <p
          class="text-secondary"
          *ngIf="formulaireOrder.controls['notes'].invalid"
        >
          Ne pas depasser 250 caractéres
        </p>
      </div>

      <button
        class="btn btn-primary m-2"
        (click)="addCreatedOrder()"
        [disabled]="formulaireOrder.invalid"
      >
        Ajouter la commande
      </button>
    </fieldset>

    <button class="btn btn-secondary">
      <a [routerLink]="'/orders/list'">Retour</a>
    </button>
  </form>

