<app-template-page [titre]="'Ajout d\'un nouveau client'">
  <ngb-toast
    header="Ajout de client"
    class="bg-success"
    [delay]="3000"
    *ngIf="success"
    (hidden)="goBackToList()"
  >
    Ajout du nouveau client {{formulaire.value.firstname}} {{formulaire.value.lastname}} réussi
  </ngb-toast>

  <ngb-toast
    header="Ajout de client"
    class="bg-danger"
    [delay]="3000"
    *ngIf="failure"
    (hidden)="failure = false"
  >
    Echec de l'ajout
  </ngb-toast>

  <form [formGroup]="formulaire">
    <fieldset class="fieldset m-5" [disabled]="failure || success">
      <legend class="text-light">Formulaire de client</legend>
    
<!--choix client-->

      <div class=" FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Nom :
          <input
          class="inputStyle"
            formControlName="lastname"
            type="text"
            minlength="2"
            maxlength="100"
            pattern="[A-ZÉ ]{2,100}" oninput="this.value = this.value.toUpperCase()"
          />
        </label>
        <p
          class="textValidation "
          *ngIf="formulaire.controls['lastname'].invalid"
        >
          Le nom est requis en majuscule, il doit contenir au moins 2 caractères et moins de 100 caractères.
        </p>
      </div>

<!--PRENOM --> 
    
      <div class=" FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Prénom :
          <input
            class="inputStyle"
            formControlName="firstname"
            type="text"
            minlength="2"
            maxlength="100"
            pattern="[a-zA-ZäâéëçÉ ]{2,100}"
          />
        </label>
        <p
          class="textValidation "
          *ngIf="formulaire.controls['firstname'].invalid"
        >
          Le prénom est requis, il doit contenir au moins 2 caractères et moins de 100 caractères.
        </p>
      </div>

<!--entreprise--> 

      <div class=" FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Entreprise :
          <input
            class="inputStyle"
            formControlName="company"
            type="text"
            minlength="2"
            maxlength="200"
          />
        </label>
        <p
          
          class="textValidation"
          *ngIf="formulaire.controls['company'].invalid"
        >
          Le nom de l'entreprise est requis, il doit contenir au moins 2 caractères et moins de 200 caractères.
        </p>
      </div>
      <div class=" FormDiv form-control m-2 border border-primary">
        <label  class="text-light">
          Courriel :
          <input
            class="inputStyle"
            formControlName="mail"
            type="email"
            minlength="6"
            maxlength="255"
            pattern="[a-z0-9._%+-]+@[a-z0-9-]+.([a-z]{2,4})"
          />
        </label>
        <p class="textValidation " *ngIf="formulaire.controls['mail'].invalid">
          Le courriel est requis. Merci de saisir un courriel de type
          exemple@exemple.fr
        </p>
      </div>

<!--TELEPHONE :--> 

      <div class="FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Téléphone :
          <input
            class="inputStyle"
            formControlName="phone"
            type="tel"
            minlength="10"
            maxlength="10"
            pattern="(0)[1-9][0-9]{8}"
          />
        </label>
        <p class="textValidation " *ngIf="formulaire.controls['phone'].invalid">
          Le numéro de téléphone est requis, il doit contenir au moins 10
          chiffres et commencer par 0
        </p>
      </div>



      <div class=" FormDiv form-control m-2 border border-primary">
        <label class="text-light">
          Portable :
          <input
            class="inputStyle"
            formControlName="mobile"
            type="tel"
            minlength="10"
            maxlength="10"
            pattern="^(0)[6-7][0-9]{8}$"
          />
          <p
            class="textValidation "
            *ngIf="formulaire.controls['mobile'].invalid">Le numéro de portable est requis, il doit contenir au moins 10
            chiffres et commencer par 06 ou 07
          </p>
        </label>
      </div>

<!--STATUS :--> 

      <div class=" FormDiv form-control m-2 border border-primary">
        <label class="form-check-inline text-light" >Statut : </label>
        <div class="form-check form-check-inline">
          <input
            class="inputStyle"
            formControlName="active"
            class="form-check-input"
            type="radio"
            id="inlineRadio1"
            value="true"
          />
          <label class="form-check-label text-light " for="inlineRadio1"
            >Actif</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="inputStyle"
            formControlName="active"
            class="form-check-input"
            type="radio"
            id="inlineRadio2"
            value="false" 
          />
          <label class="form-check-label text-light" for="inlineRadio2"
            >Inactif</label>
        </div>
        <p class="textValidation "> 
          Merci de sélectionner le statut du client
        </p>
      </div>

<!--Taux journalier moyen HT :--> 

      <div class=" FormDiv form-control m-2 border border-primary">
        <label for="NoteCustomer" class="text-light">
          Notes :
        </label>
        
        <textarea
          style="background-color: rgba(30,4,1,0.4); color: aliceblue;"
          id="NoteCustomer"
          class="form-control"
          formControlName="notes"
          type="text"
          maxlength="255"
          rows="3"
        ></textarea>
      </div>
    </fieldset>
    <button
      class="btn btn-primary m-2"
      [disabled]="setDisable" (click)="ajouter()"
      [disabled]="formulaire.invalid"
    >
      Ajouter
    </button>
    <button class="btn btn-secondary">
      <a (click)=" goBackToList()">Retour</a>
    </button>
</form>
</app-template-page>
