

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg" id="blocCennexion">
        
        <a class = "imgage "
        target="blank">
        <img style="width: 500px ; height: 600px ;"   src="../../../assets/pngegg (5).png"
              alt="not_found"> 
        </a>

      </div>
      <div class="col-lg" id="blocMessageDeLogin" >
        <h1 class="display-5 text-light" style="text-align: center; vertical-align: bottom ;">
          Vous vous êtes perdus dans notre site, cliquez 
          <span style="color: blue ;" [routerLink]="'/home'">ici</span> pour revenir à l'accueil.
        </h1>
      </div>
    </div>
  </div>
</section>