.image {
  size: adjust 20%;;
  margin-left: 25%;
}

.montexte {
  margin-left: 25%;

}

#blocMessageDeLogin {

  margin-top: 50px;
  
  //border: 1px solid gray;
  border-radius: 35px ;
  padding: 10px;


}