<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
    <p>Confimez-vous la suppression de la commande ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(true)">Confirmer</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(false)">Abandonner</button>
  </div>
</ng-template>


<app-template-page [titre]="'Liste des commandes'" [visible]="false" >

<div class=" container" style="padding-top: 50px ;">
  <div class=" row">
    <div class="col-9">
  <div class=" form-check">
    <input class="form-check-input" (click)="getOrders()" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
    <label class="form-check-label text-light" for="flexRadioDefault1">
      Toutes les commandes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" (click)="paidOrders()" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label text-light" for="flexRadioDefault2">
      Commandes Payées
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" (click)="currentOrders()"  type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
    <label class="form-check-label text-light" for="flexRadioDefault3">
      Commandes En cours
    </label>
  </div>
</div>
  <div class="col-3">
    <p class="row justify-content-end m-3"
    style="margin-bottom: 5px ; color: aliceblue;"
    >Total commandes : {{total}}</p>
  </div>
</div>
</div>

  <!--<nav class=" container navbar navbar-expand-lg ">
    <div class=" row collapse navbar-collapse" id="navbarNav">
      <div class="col-9">

        <ul class="navbar-nav">

        <li class="nav-item">
          <a class=" btn btn-primary ms-4" ></a>
        </li>

        <li class="nav-item">
          <a class="btn btn-primary ms-3" ></a>
        </li>
        
      </ul>
    </div>

  </nav>-->

<div class="container mt-3" *ngIf="orders$" style="padding-top: 30px ;">

  <table class="table" style="color: aliceblue; border: 2px solid aliceblue;">
    <caption style="color: rgb(255, 255, 255) ;">Tableau liste des commandes</caption>
    <thead class="text-light" style="background-color:rgb(36, 47, 95) ;">
    <tr>
      <th>#</th>
      <th>Client</th>
      <th>Produit</th>
      <th>Taux journalier</th>
      <th>Nombre de jour</th>
      <th>TVA</th>
      <th>Status</th> 
      <th>Type</th>
      <th>Notes</th>
      <th style="background-color:rgba(39, 194, 233, 0.4);">Consulter</th>
      <th *ngIf="isAdmin" style="background-color:rgba(43, 214, 37, 0.4);">Editer</th>
      <th *ngIf="isAdmin" style="background-color:rgba(228, 43, 43, 0.4);">Supprimer</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let order of orders$ | async | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index ; ">
      <td> {{order.id}} </td>
      <td> {{order.customerDto.lastname}} {{order.customerDto.firstname}} </td>
      <td>{{order.productDto.productname}}</td>
      <td> {{order.adrEt}} </td>
      <td> {{order.numberOfDays}} </td>
      <td> {{order.tva}} </td>
      <td> {{order.status}} </td>
      <td> {{order.type}} </td>
      <td> {{order.notes}} </td>
      <td style="background-color:rgba(30, 145, 173, 0.4); 
      border-radius: 35px ;">
        <a class="book" [routerLink]="'../description/'+order.id" 
        >
        <i class="bi bi-search-heart-fill"></i>
        </a>
      </td>
      <td *ngIf="isAdmin" style="background-color:rgba(32, 156, 28, 0.4);
      border-radius: 35px ; ">
        <a class="crayon"[routerLink]="['../edit', order.id]">
          <i class="bi bi-pen-fill"></i>
        </a>
      </td>
      <td *ngIf="isAdmin" style="background-color:rgba(170, 43, 43, 0.4);
      border-radius: 35px ; ">
        <a class="trash" href="javascript:void(0)"
          (click)="confirmDeletion(content, order.id)">
          <i class="bi bi-trash3-fill"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-end">
  <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
  <a [routerLink]="'../add'" class="btn btn-primary" *ngIf="isAdmin">
    <app-icon-add></app-icon-add> Ajouter
  </a>
  </div>
</app-template-page>
