<app-template-page [titre]="'Modification du produit ' + productName "
  (actionRetour)="goBackToList()">
  <ngb-toast header="Modification du client"
class="bg-succes" *ngIf="success"
(hidden) = "goBackToList()">
Modifications réussie
</ngb-toast>

<ngb-toast header="Modification du client"
class="bg-danger" *ngIf="failure"
[delay]="1000" (hidden)="failure = false">
Modifications échoués
</ngb-toast>


<form [formGroup]="formulaire" *ngIf="formulaire" >
    <fieldset class="fieldset m-5" [disabled]="failure || success">
      <legend>Formulaire de client</legend>
      <div class="form-control m-2 border border-primary">
        Id :
        <label formControlName="id">{{product.id}}
      </label>
    </div>
    <div class="form-control m-2 border border-primary">
      <label>
        Intitulé :
      <input formControlName="productname"  type="text" [(ngModel)]="product.productname" minlength="2" maxlength="100"  pattern="[A-ZÉ ]{2,100}" oninput="this.value = this.value.toUpperCase()" >
      </label>
        <p class="text-secondary" *ngIf="formulaire.controls['productname'].invalid">
          Le nom est requis en majuscule, il doit contenir au moins 2 caractères et moins de 100 caractères.
        </p>
    </div>
    
     
    <div class="form-control m-2 border border-primary">
      <label class="form-check-inline">Disponibilité : </label>
      <div class="form-check form-check-inline">
        <input  class="form-check-input form-check-inline" id="statusActive" 
        type="radio"  formControlName="availablity" 
        [value]="true" [(ngModel)]="product.availablity"/>
        <label class="form-check-label" for="statusActive">Disponible</label>
      </div>
      <div class="form-check form-check-inline">
        <input  class="form-check-input form-check-inline" id="statusInactive" 
        type="radio" formControlName="availablity" [value]="false" 
        [(ngModel)]="product.availablity"/>
        <label class="form-check-label" for="statusInactive">Non-disponible</label>
    </div>
    <p class="text-secondary" 
    *ngIf="formulaire.controls['availablity'].invalid">Merci de sélectionner le statut du client</p>
    </div>
    <div class="form-control m-2 border border-primary">
      <label>
        Description :
        <textarea rows="5" cols="33" formControlName="description"  
        [(ngModel)]="product.description"></textarea>
      </label>
    </div>
  
    </fieldset>
  
  </form>
  <div>
  <button class="btn btn-primary m-2" 
  [disabled]="formulaire.invalid || success" (click)="updateProduct()"
  >Valider</button>
  <button class="btn btn-secondary">
    <a (click)=" goBackToList()">Retour</a>
  </button>
  </div>
  </app-template-page>
  