<app-template-page [titre]="'Ajout d\'un nouveau produit'">
    <ngb-toast
      header="Ajout de produit" 
      class="bg-success"
      [delay]="3000"
      *ngIf="success"
      (hidden)="goBackToList()"
    >
      Ajout du nouveau produit {{formulaire.value.product_name}} réussi
    </ngb-toast>
  
    <ngb-toast
      header="Ajout de produit"
      class="bg-danger"
      [delay]="3000"
      *ngIf="failure"
      (hidden)="failure = false"
    >
      Echec de l'ajout
    </ngb-toast>




<form [formGroup]="formulaire">
    <fieldset class="fieldset m-5" [disabled]="success">
      <legend>Formulaire d'ajout d'un produit</legend>

<!-- nom produit -->
      <div class="form-control m-2 border border-primary">
        <label>
          Intitulé du produit :
          <input
            formControlName="productname"
            type="text"
            minlength="2"
            maxlength="100"
            oninput="this.value = this.value.toUpperCase()"
            pattern="[A-ZÉ ]{2,100}"  
          />
        </label>
        <p
          class="text-secondary"
          *ngIf="formulaire.controls['productname'].invalid"
        >
          Le nom est requis en majuscule, il doit contenir au moins 2 caractères et moins de 100 caractères.
        </p>
      </div>

<!-- Disponibilité -->

 
      <div class="form-control m-2 border border-primary">
        <label class="form-check-inline">Disponibilité : </label>
        <div class="form-check form-check-inline">
          <input
            formControlName="availablity"
            class="form-check-input"
            type="radio"
            value="true"
          />
          <label class="form-check-label" for="inlineRadio1"
            >Disponible</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            formControlName="availablity"
            class="form-check-input"
            type="radio"
            value="false"
          />
          <label class="form-check-label" for="inlineRadio2"
            >Non-disponible</label>
        </div>
        <p class="text-secondary"> Merci de sélectionner la disponibilité</p>
      </div>

<!-- Description du produit -->


      <div class="form-control m-2 border border-primary">
        <label for="description"></label>
        Description du produit :
        <textarea
          class="form-control"
          formControlName="description"
          type="text"
          maxlength="255"
          rows="3"
        ></textarea>
      </div>


<!-- télechargement image -->

 
      <div class="form-control m-2 border border-primary">
        <label class="form-check-inline">Telecharger : </label>
        <input type="file" class="file-input" (change)="onFileSelected($event)" 
         #fileUpload>
         <div class="file-upload">

          {{fileName || "No file uploaded yet."}}
       
           <button mat-mini-fab color="primary" class="ptn upload-btn"
             (click)="click()">
              charger
           </button>
       </div>

      </div>


    </fieldset>
    <button
      class="btn btn-primary m-2"
      (click)="ajouter()"
      [disabled]="formulaire.invalid"
    >
      Ajouter
    </button>
    <button class="btn btn-secondary">
      <a (click)=" goBackToList()">Retour</a>
    </button>
</form>