<ngb-toast header="" class="bg-success text-light" *ngIf="success" (hidden)="success=false" [delay]="2500">
  Suppression de {{username}}
</ngb-toast>
<ngb-toast header="" class="bg-danger text-light" *ngIf="failure" (hidden)="failure=false" [delay]="2500">
  Échec de la suppression
</ngb-toast>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression: </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(false)"></button>
  </div>
  <div class="modal-body">
    <p>Confirmez-vous la suppression de l'utilisateur {{username}} ? </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(true)" >Supprimer</button>
    <button type="button" class="btn btn-outline-dark"
      (click)="modal.close(false)">Abandonner</button>
  </div>
</ng-template>

<app-template-page [titre]="'Liste des utilisateurs'" [visible]="false">
<div class="container">
<div class="row justify-content-end m-3" >Total utilisateurs : {{total}}</div>
<table class="table table-striped table-bordered table-hover">
  <caption>Tableau liste des utilisateurs</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Nom d'utilisateur</th>
      <th>Mail</th>
      <th>Droits</th>
      <th>Consulter</th>
      <th *ngIf="isAdmin">Editer</th>
      <th *ngIf="isAdmin">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index ; ">
      <td> {{i+1}} </td>
      <td> {{user.username}}</td>
      <td> {{user.mail}} </td>
      <td> {{user.grants}} </td>
      <td>
        <a class="book" [routerLink]="'../description/'+user.id">
        <app-icon-book></app-icon-book>
        </a>
      </td>
      <td *ngIf="isAdmin">
        <a [routerLink]="['../edit', user.id]">
          <app-icon-edit class="crayon"></app-icon-edit>
        </a>
      </td>
      <td *ngIf="isAdmin">
        <a href="javascript:void(0)"
          (click)="confirmDeletion(content, user.id, user.username)">
          <app-icon-delete class="trash"></app-icon-delete>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-end">
<ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>
<a [routerLink]="'../add'" class="btn btn-primary" *ngIf="isAdmin">
  <app-icon-add></app-icon-add> Ajouter
</a>
</div>
</app-template-page>
