.form{
  border: 1px solid gray;
  border-radius: 5px ;
  margin: 200px 10px 10px 10px;
  padding:10px 10px 10px 10px ;
  min-width: 300px;
}

#blocCennexion {
  align-items: center;
  margin-top: 50px;
  border-right: 2px solid rgb(255, 255, 255);
  border-radius: 35px ;
  padding: 10px;

}

#blocMessageDeLogin {

  margin-top: 50px;
  border-left: 2px solid rgb(255, 255, 255);
  //border: 1px solid gray;
  border-radius: 35px ;
  padding: 10px;


}






