<app-template-page [titre]="'Page de connexion'">
  <ngb-toast header="Connexion" class="bg-success text-light" *ngIf="success" (hidden)="success=false">
    Bienvenue sur notre crm
  </ngb-toast>
  <ngb-toast header="Connexion" class="bg-danger text-light" *ngIf="failure" (hidden)="failure=false">
    Echec de la connexion
  </ngb-toast>


  <section>
    <div class="container">
      <div class="row">
        <div class="col" id="blocCennexion">
          <form [formGroup]="loginForm">
            <div class="form-group" style="padding-right: 50px ; padding-top: 20px;">
              <label class="text-light" style="margin-bottom: 10px ;">Identifiant de connexion :</label><br>
              <input type="text" formControlName="username" class="form-control">
              <p *ngIf="loginForm.controls['username'].invalid" class="text-danger">
                Champs requis
              </p>
              <p></p>
              <br>
            </div>
            <div class="form-group" style="padding-right: 50px ;">
              <label class="text-light" style="margin-bottom: 10px ;" >Mot de passe :</label>
              <br>

              <input type="password" formControlName="password" class="form-control">

              <p *ngIf="loginForm.controls['password'].invalid" class="text-danger">
                Champs requis
              </p>
              <p></p>

            </div>
            <div class="form-group" style="padding-bottom: 20px;">
              <br>
              <button class="btn " style="background-color: rgb(255, 255, 255); " (click)="verifierLogin()" >
                <i class="bi bi-box-arrow-in-right" ></i>
                Connexion
              </button>
              <br>
            </div>
          </form>
        </div>
        <div class="col " id="blocMessageDeLogin">
          <h1 class="display-6 text-light" style="margin-top: 100px ; text-align: center;">
            POUR VOUS SOUHAITEZ LA BIENVENUE DANS NOTRE CRM, IDENTIFIEZ-VOUS !
          </h1>
        </div>
      </div>
    </div>
  </section>

</app-template-page>