<app-template-page [titre]="'Ajout d\'un nouvel utilisateur'">
  <ngb-toast header="Ajout d'utilisateur" class="bg-success text-light" *ngIf="success"
    (hidden)="goBackToList()">
    Ajout réussi
  </ngb-toast>
  <ngb-toast header="Ajout d'utilisateur" class="bg-danger text-light" *ngIf="failure"
    (hidden)="failure = false">
    Echec de l'ajout: {{errorMessage}}
  </ngb-toast>
  <form [formGroup]="formulaire">
    <fieldset class="fieldset  m-5" [disabled]="failure || success">
      <legend>Formulaire ajout utilisateur</legend>
      <div class="form-control m-3">
        <label>
          Nom de utilisateur :
          <input formControlName="username" type="text">
        </label>
        <p class="text-secondary" *ngIf="formulaire.controls['username'].invalid">
          Le nom de l'utilisateur est requis, 3 à 15 car en alphanumerique.
          </p>
      </div>
      <div class="form-control m-3">
        <label>
          Mot de passe :
          <input formControlName="password" type="password" maxlength="15">
        </label>
        <p class="text-secondary" *ngIf="formulaire.controls['password'].invalid">
          Le mot de passe est requis, 5 à 15 car, au moins 1 majuscule, au moins 1 minuscule,
          au moins 1 chiffre.
          </p>
      </div>
      <div class="form-control m-3">
        <label>
          Courriel  :
          <input formControlName="mail" type="mail" maxlength="255">
        </label>
        <p class="text-secondary" *ngIf="formulaire.controls['mail'].invalid">
          Le courriel  est requis et doit contenir
          au moins 1 caractère et moins de 255 et respecter le format mail ( exemple@exemple.fr).
          </p>
      </div>
      <div class="form-control m-3">
      <label>
      Role :
      <select formControlName="grants"  [(ngModel)]='nrSelect'>
        <option value="USER" [selected]>USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
      </label>
    </div>
    </fieldset>
  </form>
  <button class="btn btn-primary m-3" [disabled]="formulaire.invalid ||success" (click)="ajouter()" >
    Creer
  </button>
</app-template-page>

