<app-template-page style="color:aliceblue ;" [titre]="'Bienvenue à notre collaborateur'">

  <div class="row" style="margin-bottom: 25px; margin-left: 15px ; margin-top: 40px;">

    <div class="col-lg-3">

      <div class=" divCard card">
        <img class="card-img-top" src="../../../assets/baloon3.jpg.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div>

    <div class="col-lg-3">

      <div class=" divCard card" >
        <img class="card-img-top" src="../../../assets/baloon4.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

      

    </div>

    <div class="col-lg-3">

      <div class=" divCard card" >
        <img class="card-img-top" src="../../../assets/baloon5.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div>

    <div class="col-lg-3">

      <div class="divCard card" >
        <img class="card-img-top" src="../../../assets/baloon6.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div>

  </div>

  <div class="row" style="margin-top: 25px; margin-left: 15px ; margin-bottom: 30px;">

    <div class="col-lg-3">

      <div class="divCard card" >
        <img class="card-img-top" src="../../../assets/baloon7.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div> 

    <div class="col-lg-3">

      <div class=" divCard card" >
        <img class="card-img-top" src="../../../assets/baloon11.png"
          alt="Card image cap" style="height: 215px;">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

      

    </div>

    <div class="col-lg-3">

      <div class="divCard card" >
        <img class="card-img-top" src="../../../assets/baloon8.png"
          alt="Card image cap" style="height: 215px;">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div>

    <div class="col-lg-3">

      <div class="divCard card" >
        <img class="card-img-top" src="../../../assets/baloon3.jpg.png"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-light">Some quick example text to build on
            the card title and make up the bulk of the card's content.</p>
        </div>

      </div>

    </div>

    

  </div>




  <!--<div class="container-fluid row ">
    <a class="col" href="https://eftl.bzh/"
      target="blank">
      <img class="img1" src="assets\logoeftl.png " alt="Logo de l'EFTL">
    </a>

    <a class="col" href="https://www.bretagne.bzh/"
      target="blank">
      <img class="img2" src="assets\logobretagne.png " alt="Logo de la région
        Bretagne">
    </a>

    <a class="col" href="https://www.pole-emploi.fr/accueil/"
      target="blank">
      <img class="img3" src="assets\logopole.png " alt="Logo Pôle Emploi">
    </a>
  </div>-->

</app-template-page>
