input:invalid {
  border: red solid;
}


.FormDiv{
  background-color: rgba(30,4,1,0.4);
}

.inputStyle {
  background-color: rgba(30,4,1,0.4); 
  color: aliceblue;
}

.textValidation {
  color: burlywood;
}