<app-template-page [titre]="'Description du produit'" [visible]="false">
    <div class="container">
      <div class="row justify-content-end m-3" >
        <table class="table table-striped table-bordered table-hover">
          <caption>Description du produit</caption>
          <thead>
            <tr>
              <th>Intitulé du produit</th>
              <th>Description</th>
              <th>Disponibilité</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>{{produ.productname}}</td>
              <td> {{produ.description}} </td>
              <td>
                <p *ngIf= "produ.availablity" > actif </p>
                <p *ngIf= "!produ.availablity" > inactif </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-template-page>
  
  <app-template-page [titre]="'Commandes associées'" [visible]="false">
    <div class="container">
      <div class="row justify-content-end m-3" >
        <table class="table table-striped table-bordered table-hover">
          <caption>Liste des commandes associées au produit</caption>
          <thead>
            <tr>
              <th>Durée</th>
              <th>TJM HT</th>
              <th>TVA.</th>
              <th>Status</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$ | async  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i =index ; ">
              <td><a [routerLink]="'/orders/description/'+order.id" >{{order.label}}</a></td>
              <td> {{order.numberOfDays}} </td>
              <td> {{order.adrEt}} </td>
              <td> {{order.tva}} </td>
              <td> {{order.status}} </td>
              <td> {{order.type}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-template-page>
  
  