<div class="navDiv">
   <hr>
  <button class=" LinkDiv btn btn-light" 
  [routerLink]="['home']"
     routerLinkActive="router-link-active">Accueil</button>
  <hr>
  <button class=" LinkDiv btn btn-light"   
  [routerLink]="['customers']"
     routerLinkActive="router-link-active">Clients</button>
  <hr>
  <button class=" LinkDiv btn btn-light"  
  [routerLink]="['products']"
     routerLinkActive="router-link-active">Produits</button>
  <hr>
  <button class=" LinkDiv btn btn-light"   
  [routerLink]="['orders']"
     routerLinkActive="router-link-active">Commandes</button>
  <hr>
  <button class=" LinkDiv btn btn-light"  *ngIf="isAdmin()" 
  [routerLink]="['users']"
     routerLinkActive="router-link-active">Utilisateurs</button>
  <hr *ngIf="isAdmin()">

</div>
